syntax = "proto3";
package {{proto_service_package}};

import "google/api/annotations.proto";

message HelloRequest {
  string name = 1;
}
message HelloResponse {
  string message = 1;
}

service {{proto_service_name}} {
  rpc Hello(HelloRequest) returns (HelloResponse) {
    option (google.api.http) = {
      get: "/v1/hello/{name=*}"
    };
  }
}
